.banner {
    background-color:dimgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#cat_photo {
    height: 190px;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

.list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center; 
    list-style-type: none;
}